.article {
    border: 1px solid green;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
    width: 95%;
    background-color: rgb(247, 246, 246);
  }

  .orderedList > li {
    margin-bottom: 7px;
  }
  
  .collocationButton {
    padding: 2px 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .collocationButton .tooltiptext {
    font-size: 18px;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    bottom: 100%; /* Розміщення вище кнопки */
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; 
    margin-bottom: 7px; /* Відступ між кнопкою і підказкою */

  }
  
  .collocationButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  