@import-normalize; /* bring in normalize.css styles */


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  /* Кольорова схема */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
  --primary-border-color: navy;
  --secondary-border-color: yellow;


  /* Розміри шрифтів */
  --font-size-base: 16px;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;

  /* Інші змінні */
  --border-radius: 4px;
  --spacing-unit: 1rem;
}

body {
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/*? Стилі базових компонентів: */
/* Кнопки навігації */
/* Робочі кнопки */
/* Стилі Article */
/* Стилі вкладеного Article */
/* Стилі Аккордеона */

/* a {
  color: red;
} */

.header {
  background-color: red;
}

.headerButton {
  
}